.Header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  font-weight: bold;
  border-bottom: red solid 2px;
  z-index: 999;
}
.Header ul {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  margin-bottom: 2rem;
}
.link {
  padding: 16px 0px;
  color: #111111;
  display: inline-block;
  position: relative;
}
.link:after{
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: red;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.link:hover:after{
  width: 100%;
}
.logo{
  width: 280px;
  height: 50px;
  margin-bottom: 2rem;
}
.button{
  width: 13%;
  height: 10%;
  border-radius: 0.2rem;
  transition: .4s;
  cursor: pointer;
  margin-bottom: 2rem;
}
.button:hover{
  scale: 110%;
}
/*RESPONSIVO*/
@media (max-width: 850px){
  .Header ul{gap: 20px;}
  .link{
    padding: 0 auto;
    text-align: center;
    padding: 10px 20px;
  }
  .link:hover{
    color: white;
    background-color: red;
    transition: 0.4s;
    border-radius: 0.2rem;
  }
  .link:hover:after{
    display: none;
  }
  .button{
    display: none;
  }
  .logo{
    width: 180px;
    height: 35px;
  }
}
@media (max-width: 450px){
  .Header ul{gap: 5px;}
}
@media(max-width:450px){
  .Header{
    display: grid;
  }
  .logo{
    margin: 0rem auto;
    margin-bottom: 1rem;
  }
}